
div {
	display: flex;
}

.choose-name {
	display: flex;
	flex-direction: column;
	align-content: center;
}

.character {
	border: 8px black solid; 
	padding: 15px;
	width: 350px;
	height: 350px;
	margin: auto;
	align-items: center;

}

.stats {
	display: flex;
	margin: 50px 50px 50px 50px;
}


.bar {
	display: flex;
	margin: 0px 0px 0px 310px;
}


.btn-group {
	display: flex;
	margin-top: 25px;
	margin-left: 200px;
	margin-right: 200px;
}
